.tableContainer {
    width: 80%;
    height: 400px;
    margin: 0 auto;
    padding: 3rem;
  }
  
  .MuiDataGrid-row {
    &:nth-child(odd) {
      background-color: blue;
      color: white;
    }
  }
  